.top-links{
display: flex;
justify-content:flex-end
}
.copy-right{
    min-height: 5vh;
    background: #000000;
    color: white;
    padding: 20px;
    text-align: center;
  
}
.child{
    min-height: 90vh;
}

/* 
.child{
    min-height: 90vh;
   

}
.copy-right{
    background: black;
    color:white;
    min-height: 5vh;

} */